/* SURVEY  COLORS */
.survey_hab_color {
  background: #01579b;
}
.survey_ref_color {
  background: #0277bd;
}
.survey_dem_color {
  background: #0288d1;
}
.survey_ren_color {
  background: #039be5;
}
.survey_emp_color {
  background: #03a9f4;
}
.survey_mp_color {
  background: #29b6f6;
}
.survey_cidadao_color {
  background: #4fc3f7;
}
.survey_obras_color {
  background: #81d4fa;
}

/* NOTICES START  COLORS */
/* ONE NOTICE COLORS */
.notice_intimacao_color {
  background: #e57373;
}
.notice_infracao_color {
  background: #ef5350;
}
.notice_embargo_color {
  background: #f44336;
}
/* TWO NOTICES COLORS */
.notice_intimacao_infracao_color {
  background: #e53935;
}
.notice_intimacao_embargo_color {
  background: #d32f2f;
}
.notice_infracao_embargo_color {
  background: #c62828;
}
/* THREE NOTICES COLORS */
.notice_intimacao_infracao_embargo_color {
  background: #b71c1c;
}

/* NOTICES END COLORS */
.notice_deadline_intimacao_color {
  background: #ffab40;
}
.notice_deadline_infracao_color {
  background: #ff9100;
}
.notice_deadline_vistoria_administrativa_color {
  background: #ff6d00;
}

.concluded {
  opacity: 0.6;
}
