#root {
  /* width: 100vw; */
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

#root footer {
  display: grid;
  min-height: 40px;
  justify-items: left;
  align-items: center;
  display: none;
}

input[type="color"] {
  min-width: 50px;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

/* table > caption {
  caption-side: top;
} */

.d-grid {
  display: grid !important;
}

.d-inline-grid {
  display: inline-grid !important;
}

p {
  text-indent: 1rem;
}

.form-control {
  color: black !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-2 {
  opacity: 0.2 !important;
}

.opacity-4 {
  opacity: 0.4 !important;
}

.opacity-6 {
  opacity: 0.6 !important;
}

.opacity-8 {
  opacity: 0.8 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.font-size-90 {
  font-size: 90%;
}

.concluded {
  opacity: 0.6;
}

.modal {
  overflow: auto !important;
}

.btn.never-disabled[disabled],
fieldset[disabled] .btn.never-disabled {
  opacity: 1 !important;
  cursor: pointer !important;
}

.max-width-300 {
  max-width: 300px;
}